#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@ --with=python2

override_dh_auto_build:
	dh_auto_build --parallel -- CXX=g++ CC=gcc DEBUG=0 DISABLE_COMMIT_ID=1 build manpages

override_dh_python2:
	dh_python2 -pwalb-tools-python python
	cd python; python2.7 ./setup.py install --no-compile --install-layout=deb --root=$(CURDIR)/debian/walb-tools-python/

override_dh_auto_install:
	dh_install

override_dh_strip:
	dh_strip -pwalb-tools-core --dbg-package=walb-tools-core-dbg
	dh_strip -pwalb-tools-extra --dbg-package=walb-tools-extra-dbg

override_dh_auto_clean:
	$(MAKE) clean
